

<div class="momentum md">
  <div class="md-panel md-panel--full md-panel--form md-input--filled">
    <div class="md-panel__main">
      <div class="md-panel__image">
        <!--<img src="/images/cisco-webex-wordmark-black.svg">-->
        <div  class="">
            <i class="icon icon-cisco-logo black"></i>
          </div>
      </div>
      <div class="md-panel__title" translate="loginPage.email">Real-Time Monitor Tool</div>
      <form autocomplete="off" class="md-panel__form ng-untouched ng-pristine ng-invalid" name="loginForm" novalidate="">
        
        <div class="md-input-container ">
          <div class="md-input__wrapper">
            <input class="md-input md-input--pill small ng-untouched ng-pristine ng-invalid" focus-on="" name="email" required="" type="email" placeholder="Username">
          </div>
        </div>
        <div class="md-input-container">
          <div class="md-input__wrapper">
            <input class="md-input small ng-untouched ng-pristine ng-invalid" focus-on="" name="password" required="" type="password" placeholder="Password">
          </div>
        </div>
        <div class="md-panel__cta">
          <button class="md-button--blue small md-button md-button--28" md-button="" type="submit" aria-label="Sign In"
            tabindex="0">
            <span class="md-button__children" style="opacity: 1;"> Sign In </span>
          </button>
        </div>
      </form>
    </div>
    <div class="md-panel__footer">
        <div  class="footer__logo">
          <i class="icon icon-cisco-logo black"></i>
        </div>
        <div  class="footer__copyright">
          <div>
            <span>By using Cisco Services you accept the
              <a href="http://www.ciscospark.com/terms-of-service.html"
                target="_blank">Terms of Service</a> and
              <a href="http://www.cisco.com/web/siteassets/legal/privacy.html" target="_blank">Privacy Statement</a>.</span>
            <span>© 2019 Cisco and/or affiliates. All rights reserved.</span>
          </div>
          
        </div>
      </div>
  </div>
</div>

<!--<webex-login _nghost-rur-c0="">
  <div _ngcontent-rur-c0="" class="momentum md">
    <div _ngcontent-rur-c0="" class="md-panel md-panel--full md-panel--form md-input--filled">
      <div _ngcontent-rur-c0="" class="md-panel__main">
        <div _ngcontent-rur-c0="" class="md-panel__image">
          <img _ngcontent-rur-c0="" src="/images/cisco-webex-wordmark-black.svg">
        </div>
        
        <div _ngcontent-rur-c0="">
          <div _ngcontent-rur-c0="" class="md-panel__title" translate="loginPage.email">Enter your email address</div>
         
          <form _ngcontent-rur-c0="" autocomplete="off" class="md-panel__form ng-untouched ng-pristine ng-invalid" name="loginForm"
            novalidate="">
            <div _ngcontent-rur-c0="" class="md-input-container md-input--filled">
              <div _ngcontent-rur-c0="" class="md-input__wrapper">
                <input _ngcontent-rur-c0="" class="md-input ng-untouched ng-pristine ng-invalid" focus-on="" name="email" required=""
                  type="email" placeholder="Email Address">
              </div>
            </div>
            <div _ngcontent-rur-c0="" class="md-panel__cta">
              <button _ngcontent-rur-c0="" class="md-button--blue md-button md-button--36 md-button--disabled" md-button=""
                type="submit" aria-label="Sign In" active="false" href="" tabindex="0" disabled="true">
                
                <span class="md-button__children" style="opacity: 1;"> Sign In </span>
              </button>
            </div>
          </form>
        </div>
       
      </div>
      <div _ngcontent-rur-c0="" class="md-panel__footer">
        <div _ngcontent-rur-c0="" class="footer__logo">
          <i _ngcontent-rur-c0="" class="icon icon-cisco-logo"></i>
        </div>
        <div _ngcontent-rur-c0="" class="footer__copyright">
          <div _ngcontent-rur-c0="">
            <span _ngcontent-rur-c0="">By using Cisco Webex Teams Services you accept the
              <a href="http://www.ciscospark.com/terms-of-service.html"
                target="_blank">Terms of Service</a> and
              <a href="http://www.cisco.com/web/siteassets/legal/privacy.html" target="_blank">Privacy Statement</a>.</span>
            <span _ngcontent-rur-c0="">© 2019 Cisco and/or affiliates. All rights reserved.</span>
          </div>
          
        </div>
      </div>
    </div>
  </div>
</webex-login>-->