<div class="md md--sites">
    <div class="docs-main">
        <app-topbar></app-topbar>

        <app-menubar></app-menubar>
        <div class="md-page-header md-page-header--left">
            <router-outlet></router-outlet>
        </div>


    </div>
    <!-- <div class="row collapse">
        <div class=" col medium-12">
           
        </div> 
        <div class="row">
            <div class="medium-2">
               
            </div>
            <div class="medium-10">
                
            </div>
        </div>         
    </div>-->
</div>